nav div.container-fluid ul.navbar-right li a{
margin-top: 21px;
text-transform: uppercase;
font-size: 12px;
color: #000;
padding-bottom: 2px;
font-weight: 600;

}
nav div.container-fluid ul.navbar-right li a:hover{
	
	
		font-size: 105%;
}
nav.navbar-default{
	background-image: none;
	background: #fff;
	border-color: #fff;
}
div.navbar-header img{
	margin-top: -5px;
}
.jumbotron{
	background-image: url("new.JPG"); 
	min-height: 200px;

}
.navbar{
	margin: 0px;
}
body{
font-family: 'Raleway', sans-serif;}
footer{
	background-color: #000;
	padding: 50px 50px 10px 50px;

}
footer ul li a{
	color: #fff;
	text-align: center;


}
footer ul{
text-align: center;
}
footer ul li{
	list-style: none;
	margin-bottom: 12px;
	color: #fff;
	
}
footer ul li p{
	font-size: 12px;
	color:#9e9e9e;
}
footer ul li a:hover{
	color: darkorange;
	text-decoration: none;
	font-size: 105%;


}
footer #row2 ul li {
	display:inline;


}
footer #row2 ul li a{
	color: blue;
	margin-right:30px;
	font-size:20px;

}footer #row2 ul li a:hover{
	display:inline;
	color: darkorange;
	font-size:22px;

}
 i{
	display: inline-block;
	border-radius: 50%;
	border-color: orange;
}
footer #row2 ul{
	margin-top: 20px;
	margin-bottom: 30px;
}
footer #row2 p{
	text-align: center;
	color:#9e9e9e;
	font-size: 12px;

}
.well
{
	padding-top: 2px;
}